<div class="container">
    <h1 class="text-center text-warning mt-4 mb-4">la liste de mes produits {{product.length}}</h1>

    <!--<div *ngFor="let p of product">
        <p>
            {{p.title}}
        </p>

    </div>-->
    <div class="row">
        <div class="col-6">
            <h6 class="text-info text-center">Search by price range</h6>
            <!--*********************Début formulaire price range*****************************************                 -->
            <form (ngSubmit)="filterbyPrice(search)" #search="ngForm">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <input type="number" name="price_min" ngModel placeholder="Enter le prix min">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <input type="number" name="price_max" ngModel placeholder="Enter the max price">
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Search by price range</button>
                    </div>
                </div>
            </form>
            <!--*********************Fin formulaire price range*****************************************                 -->
        </div>
        <div class="col-6">
            <h6 class="text-info text-center">Search by keyword </h6>
            <form (ngSubmit)="filterbyKeyword(searchK)" #searchK="ngForm">
                <div class="row">

                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" name="keyword" ngModel placeholder="Search by keyword">
                        </div>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Search by keyword</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <section class="row border mt-4 ">
        <div class="col-4 border" *ngFor="let p of product">
            <img src="{{p.image}}" class="card-img-top shadow-sm " alt="...">
            <h5 class="card-title">{{p.title}}</h5>
            <p class="card-text">{{p.description}}</p>
            <!--<h5 class="card-stock">{{p.Stock}}</h5>-->
            <div class="text-muted">
                <span class="col-4 "><a href="#" class="btn btn-info btn-sm">{{p.price}}$</a></span>
                <span class="col-4 m-4"><i class="fa-solid fa-lg"
                        [ngClass]="{'fa-solid fa-thumbs-down': !p.Stock, 'fa-solid fa-thumbs-up': p.Stock}"
                        (click)="disponible(p)"> </i>
                </span>
                <span class="col-4"><button (click)="deleteProduct(p.id)">Delete</button>
                </span>
                <!--*********************Début formulaire modify*********************************************************************-->
                <!-- -->
                <span class="col-4"><button (click)="editProduct(p)" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModal">Modify</button>
                </span>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Product modification</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Formulaire -->
                                <form>
                                    <div class="form-group m-4">
                                        <input type="text" name="title" [(ngModel)]="productedited.title"
                                            placeholder="Enter the title">
                                    </div>


                                    <div class="form-group m-4">
                                        <input type="text" name="description" [(ngModel)]="productedited.description"
                                            placeholder="Enter the description">
                                    </div>


                                    <div class="form-group m-4">
                                        <input type="number" name="price" [(ngModel)]="productedited.price"
                                            placeholder="Enter the price">
                                    </div>


                                    <div class="form-group m-4">
                                        <input type="url" name="image" [(ngModel)]="productedited.image"
                                            placeholder="Enter the image">
                                    </div>


                                    <div class="form-group m-4">
                                        <input type="text" name="Stock" [(ngModel)]="productedited.Stock"
                                            placeholder="Enter the stock">
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" (click)="updateProduct()"
                                            class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>