<div class="container">
    <h1 class="text-info mt-4 mb-4 text-center">Welcome to my store</h1>


    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://imgs.search.brave.com/4cYaqGNBbvBF65x9McjAeCeNxgOjYfC7Q6crIsP8YV0/rs:fit:1200:855:1/g:ce/aHR0cDovL3d3dy5o/b3J0aXRlY25ld3Mu/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDE2LzAyL2ZpZWxk/X2ltYWdlX2ZyYWlz/ZXNfMy5qcGc" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Fraises</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore cupiditate debitis, libero minima voluptatem quisquam consequuntur dignissimos, accusantium dolores repellat delectus odit quasi neque fugiat nulla cumque minus? Itaque!</p>
              <p class="card-text"><small class="text-muted">10$/Kg</small></p>
            </div>
          </div>
        </div>
      </div>


    
</div>
