<div class="container mt-4"></div>
<h1 class="text-center mt-4 mb-4">Connexion :</h1>


<div class="bg-danger p-4 text-white " *ngIf="message">
    Identifiants incorrects
</div>


    
<!--Formulaire début-->
<form (ngSubmit)="login(loginform)" #loginform="ngForm">
    <div class="form-group m-2  p-2" >
        <label class="p-1">username</label>
        <input type="text" class="mb-4 mr-sm-3" name="username" ngModel required placeholder="Enter nom">

    </div>
    <div class="form-group m-2 p-2">
        <label class="p-1">Mot de passe</label>
        <input type="password" class="mb-4 mr-sm-5" name="password" ngModel required placeholder="Entrer passeword">
    </div>
   
    <button type="submit" class="btn btn-primary p-4">Se connecter</button>
</form>
<!--fin début-->
