<div class="container mt-4"></div>
<h1 class="text-center mt-4 mb-4">Connexion :</h1>


<div class="bg-danger p-4 text-white " *ngIf="message">
    Identifiants incorrects
</div>


    
<!--Formulaire début-->
<form (ngSubmit)="login(loginform)" #loginform="ngForm">
    <div class="form-group">
        <label>Nom de votre produit</label>
        <input type="text" class="form-control" name="username" ngModel required placeholder="Enter nom">

    </div>
    <div class="form-group">
        <label>Description produit</label>
        <input type="password" class="form-control" name="password" ngModel required placeholder="Entrer passeword">
    </div>
   
    <button type="submit" class="btn btn-primary">Se connecter</button>
</form>
<!--fin début-->
